<!DOCTYPE html>
<html>
  <head>
    <title>NotesReact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <section class="wow slideInLeft"></section>
  <section class="wow slideInRight"></section>
    <%= yield %>
  </body>
</html>
